body{
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Main {
    width: valorVW;
    height: valorVW; /* A mágica está aqui */
    padding-bottom: 48%; /* ... e está aqui */
    margin: 1%;
    float: left;
    position: relative;
}

.LeftCard{
    width: 48%;
    height: 0; 
    padding-bottom: 48%;
    margin: 1%;
    float: left;
    position: relative;
}

.RightCard{
    width: 48%;
    height: 0; 
    margin: 1%;
    float: left;
    position: relative;
}

.QuestionCard{
    background-color: #3914f2;
    text-align: center;
    padding: 3vw;
    position: relative;
}

.AnswerCard{
    background-color: #ffffff;
    color: #000000;
    display: inline-block;
    padding: 5vw, 0vw;
    min-width:40vw;
}