html {
    font-size: 62.5%;
    /* Por que 62.5%? 
    - Para facilitar a conversação para REM usamos 62.5%
    - O valor padrão, ou seja, se não definirmos um valor para a fonte, ela será de 13px.
    - Se definirmos a fonte em 10px temos a razão de rem em 4:1, ou seja, 4 pixels são iguais a 1 rem
    - 62.5% cria um valor de 10px com base em um calculo de conversão para rem
    - Usamos em porcentagem por que a maioria dos navegadores não atualizam esse valor automaticamente.*/
}

body{
    background-color: #000000;
    color: #ffffff;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.Main{
    display: flex;
    height: 100vh;
    
}

.Container {
    width: 50%;
    background: #000000;
}

.Centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.LeftBox {
    padding: 8rem;
}

.LeftBox_Logo{
    font-size: 6rem;
}

.LeftBox_Title{
    font-size: 3rem;
}

.LeftBox_Description{
   margin: 3rem, 0rem;
}

.Buttoms{
    display:flex;
    justify-content: space-between;
    gap: 4rem;
}

.Button{
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    height: 6rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.RightBox {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #7026D9;
    border-radius: 8px 8px 0px 0px;
}

.QuestionCard {

}

.AnswerCard {
    background-color: #ffffff;
    color: #000000;
    padding: 8rem;
}